/* estilo.css */
body {
    font-family: 'Baloo 2', cursive;
    background-color: #1e2125; /* Cor de fundo escura */
    color: #e1e1e6;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #282a36; /* Cor de fundo do container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #fff; /* Cor do título em amarelo escuro */
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #44475a;
    border-radius: 5px;
    background-color: #6272a4;
    color: #f8f8f2;
    width: calc(100% - 22px); /* Largura completa */
    font-size: 1em;
    font-family: 'Baloo 2', cursive;
}

button {
    background-color: #FFCA00; /* Cor de fundo do botão em amarelo claro */
    color: #1e2125; /* Cor do texto do botão */
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffb86c; /* Cor de fundo do botão ao passar o mouse */
    color: #f8f8f2;
}

#jogos {
    margin-top: 20px;
}

.jogo {
    background-color: #44475a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.numero {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    background-color: #6272a4;
    color: #f8f8f2;
    border-radius: 50%;
    text-align: center;
}

.acertou {
    background-color: #10c93e; /* Cor de fundo dos números acertados */
    color: #282a36;
}

.oculto {
    display: none;
}

.bolinha {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    background-color: #daa520; /* Cor das bolinhas dos números sorteados */
    color: #282a36;
    border-radius: 50%;
    text-align: center;
}


.bolinha.acertou {
    background-color: #10c93e; /* Verde para números acertados */
}